.container {
	display: flex;
	width: 100%;
	min-width: 100%;
	height: 100vh;
	max-height: 100vh;
	margin: 0 auto;
	padding: 0 5rem 1rem;

	overflow: auto;
}

.TableroActual {
	position: relative;

	display: flex;
	flex-direction: column;
	padding-top: 5rem;

	&__columna {
		display: flex;
		margin-bottom: 5rem;
	}
}

.error_en_titulo {
	position: absolute;
	top: 50%;
	left: 50%;

	margin: 0;

	transform: translate(-50%, -50%);
	cursor: pointer;
}
