.container {
	max-width: 25rem;
}

.tarjetaForm {
	position: relative;

	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 2rem 1.5rem;

	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 0.5rem;

	transition: transform 0.2s ease-in;

	&:hover {
		transform: scale(1.1);
	}

	&__footer {
		display: flex;
		justify-content: space-evenly;
	}

	&__input {
		margin-bottom: 2rem;

		border-radius: 0.5rem;
		box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.15),
			0 0.2rem 0.5rem rgb(0, 0, 0, 0.15);
	}

	&__btn {
		padding: 1rem 2rem;

		background-color: rgba(0, 0, 0, 0.03);
		border-radius: 0.5rem;

		transition: box-shadow 0.1s ease-in, transform 0.1s ease-in;

		&:hover {
			box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.5);

			transform: scale(1.05);
		}
	}
}

.btnAbrir {
	width: 100%;
	min-width: 20rem;
	padding: 2.5rem;

	color: #fff;
	font-size: 2rem;

	background-color: #00296b;
	border-radius: 1rem;

	&:hover {
		box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.5);

		transform: scale(1.1);
	}
}
