.tareaForm {
	display: flex;
	flex-direction: column;
	justify-content: center;

	&__input {
		padding: 1rem;

		font-weight: inherit;
		font-size: inherit;
		font-family: inherit;

		border-radius: 1rem;

		border-radius: 0.5rem;
		box-shadow: 0 0.2rem 0.5rem rgba(3, 2, 2, 0.15),
			0 0.2rem 0.5rem rgb(0, 0, 0, 0.15);
	}
}

.error {
	animation: wave 0.5s ease-in;
}

@keyframes wave {
	from {
		transform: scale(1);
	}
	50% {
		transform: scale(1.05);
	}
	to {
		transform: scale(1);
	}
}
