.iconContainer {
	display: flex;
}

.icon {
	display: flex;
	align-items: center;

	font-size: 2.5rem;

	transition: color 0.1s ease-in, transform 0.1s ease-in;

	&_remove {
		margin-left: 0.5rem;

		color: #6c757d;

		&:hover {
			color: #ff220f;
		}
	}

	&_return {
		color: #6c757d;

		&:hover {
			color: #000;
		}
	}

	&_complete:hover {
		color: #38b000;
	}

	&:hover {
		transform: scale(1.3);
	}
}

.tarea {
	position: relative;
	z-index: 1000;

	margin-bottom: 1rem;
	padding: 1.5rem 2rem;

	background-color: #fdc500;
	border-radius: 0.5rem;
	cursor: pointer;

	transition: box-shadow 0.1s ease-in, background-color 0.1s ease-in;

	&__inner {
		position: relative;

		display: flex;
		align-items: center;
		justify-content: space-between;

		color: #00296b;
	}

	&__form {
		width: 100%;
	}

	&__input {
		width: 100%;
		max-width: 100%;
		padding: 0.5rem;

		font-size: 1.872rem;
		text-align: center;

		border-radius: 0.5rem;
		box-shadow: 0 0.2rem 0.5rem rgba(3, 2, 2, 0.15),
			0 0.2rem 0.5rem rgb(0, 0, 0, 0.15);
	}

	&__title {
		position: relative;

		flex: 1 1 auto;

		margin: 0;
		padding: 0.5rem;

		word-break: break-word;

		transition: background-color 0.1s ease-in;

		&::before {
			position: absolute;
			top: 50%;
			left: 50%;

			width: 0;
			height: 0.3rem;

			background-color: #000;
			border-radius: 50%;
			transform: translateY(-50%) rotate(-15deg);

			transition: width 0.2s ease-in, left 0.2s ease-in;

			content: "";
		}

		&_hover:hover {
			border-radius: 0.5rem;

			&:hover {
				background-color: rgba(0, 0, 0, 0.1);
			}
		}
	}

	&__btn {
		margin-left: 1rem;
	}

	&:hover {
		box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.3);
	}
}

.titleContainer {
	display: flex;
	flex: 1 1 auto;
	align-items: center;
	justify-content: space-between;
}

.complete {
	background-color: #dee2e6;

	.card__title {
		color: #6c757d;

		&::before {
			left: 0;

			width: 100%;

			background-color: #6c757d;
		}
	}
}
