.tableroList {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;

	padding: 1.5rem 0;

	&__title {
		margin-top: 0;
		margin-bottom: 2rem;

		text-align: center;
	}
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	width: 100%;
}
