.container {
	width: 27rem;
}

.tableroForm {
	display: flex;
	flex-direction: column;

	width: 100%;
	padding: 4rem 2rem;

	border: 0.3rem solid #00296b;
	border-radius: 1rem;

	transition: transform 0.2s ease-in, box-shadow 0.2s ease-in;

	&:hover {
		box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.5);
		transform: scale(1.05);
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 3rem;
	}

	&__body,
	&__footer {
		display: flex;
		flex-direction: column;
	}

	&__body {
		margin-bottom: 2rem;
	}

	&__title {
		margin: 0;
	}

	&__icon {
		color: #ff220f;
		font-size: 2rem;

		transition: transform 0.2s ease-in;

		&:hover {
			transform: scale(1.3);
		}
	}

	&__btn {
		width: 100%;
		padding: 1.5rem 0;

		color: #00296b;
		letter-spacing: 0.2rem;
		text-transform: uppercase;

		background-color: #fdc500;
		border-radius: 1rem;

		transition: box-shadow 0.2s linear;

		&:hover {
			box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.5);
		}
	}
}

.openBtn {
	width: 100%;
	padding: 2rem 0;

	&__title {
		margin: 0;
	}

	&::before {
		position: absolute;
		bottom: 0%;
		left: 50%;

		width: 0;
		height: 0.5rem;

		background-color: #ff220f;
		border-radius: 1rem;
		transform: translateX(-50%);

		transition: width 0.2s ease-in, left 0.2s ease-in;

		content: "";
	}

	&:hover {
		transform: scale(1.1);

		&::before {
			width: 50%;
		}
	}
}
