.tarjetaItem {
	max-width: 27rem;
	margin-right: 3rem;

	&__inner {
		position: relative;

		display: flex;
		flex-direction: column;
		min-width: 27rem;
		padding: 1.5rem;

		text-align: center;

		background-color: rgba(255, 255, 255, 0.7);
		border-radius: 0.5rem;

		box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.3);
	}

	&__header {
		display: flex;
		justify-content: center;
	}

	&__body,
	&__cards {
		display: flex;
		flex-direction: column;
		justify-content: center;

		width: 100%;
	}

	&__title {
		margin: 0;
		padding: 0.5rem;

		word-break: break-all;

		border-radius: 0.5rem;

		transition: background-color 0.2s ease-in;

		&:hover {
			background-color: rgba(0, 0, 0, 0.1);
		}
	}

	&__form {
		display: flex;
		justify-content: center;
	}

	&__input {
		max-width: 100%;
		padding: 0.5rem;

		font-size: 1.872rem;
		text-align: center;

		border-radius: 0.5rem;
		box-shadow: 0 0.2rem 0.5rem rgba(3, 2, 2, 0.15),
			0 0.2rem 0.5rem rgb(0, 0, 0, 0.15);
	}

	&__icon {
		position: absolute;
		top: 0;
		right: 0;

		font-size: 3rem;

		visibility: hidden;
		opacity: 0;

		transition: visibility 0.1s ease-in, opacity 0.1s ease-in,
			transform 0.1s ease-in;

		fill: #ff220f;

		&:hover {
			transform: scale(1.3);
		}
	}

	&__btn {
		display: inline-block;
		margin-bottom: 2rem;
		padding: 0.5rem;

		color: #cccecf;

		transition: color 0.1s ease-in;

		&:hover {
			color: #000;
		}
	}

	&__inner:hover .tarjetaItem__icon {
		visibility: visible;
		opacity: 1;
	}
}

.titleContainer {
	position: relative;

	width: 100%;
	margin: 0;
	margin-bottom: 1.5rem;
	padding-bottom: 1rem;

	cursor: pointer;

	&::before {
		position: absolute;
		bottom: 0;
		left: 0;

		width: 100%;
		height: 0.2rem;

		background-color: #00296b;

		content: "";
	}
}
